  @import url('https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap');
  body {
    background: url('./zelij.jpeg') repeat;
    backdrop-filter: blur(1px);
}
#mainRunner {
  position: relative;
  width: 80%;
  max-width: 400px;
}
#mo {
  position: absolute;
  filter: grayscale(100%);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

#blob {
  display: block;
  width: 100%;
  height: auto;
}



#ms {
  font-family: 'Pinyon Script', cursive;
}

